<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password</title>
  <%- include("./partials/heading") %>
<body>
    <%- include("./partials/nav")%>
    <div class="hero">
        <div class="columns">
            <div class="column"> 
                
                <form action="/logged/edit/password" class="box" method="post">
               
                  <div class="field m-2">
                    
                        <label class="label">Current Password:</label>
                        <p class="control has-icons-left has-icons-right">
                     
                          <input class="input" type="password" name="curr_password"  required>
                          <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                          
                        </p>
                    </div>
                    <div class="field m-2">
                    
                        <label class="label">New Password:</label>
                        <p class="control has-icons-left has-icons-right">
                     
                          <input class="input" type="password" name="new_password"  required>
                          <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                          
                        </p>
                    </div>
                    <div class="field m-2">
                    
                        <label class="label">Retype new Password:</label>
                        <p class="control has-icons-left has-icons-right">
                     
                          <input class="input" type="password" name="retype_new_password"  required>
                          <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                       
                          
                        </p>
                    </div>
                  
                 <!--   <input type="hidden" value="<%= %>" name="uid"> <!-->
                    <div class="field has-text-centered mb-2">
                        <button class="button is-success ">
                       Edit Password
                         </button>
                     </div>
       
                    </form>
          
            </div>
        </div>
    </div>
   











    
</div>
<style>
#searchandinput
{display: none;
}


</style>
<script>
  
</script>
</body>
</html>